.list {
  width: 75%;
  margin: 0px auto;
  padding: 0;
  list-style-type: none;
  padding-top: 20px;
}

.list {
  > h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
  }
}

span {
  margin-left: 10px;
}