@import 'vars';

html,body {
  background: $background-color;
}

h1 {
  color: $font-color;
}

input {
  margin-right: 10px;
}

.notes h3, .notes p, {
  margin: 10px 0 5px 0;
  width: 100px;
  display: inline-block;
}

.notes h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notes p {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.notes li {
  width: 300px;
}

.notes {
  display: block;
}

.error {
  color: $error;
}